.container {
  background-color: var(--greyscale-0);
  height: 64px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column {
  display: grid;
  grid-auto-flow: column;
  column-gap: 16px;
  align-items: center;
}

.buttons_group {
  display: grid;
  grid-auto-flow: column;
  column-gap: 4px;
}

.user_info {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  height: 48px;
  padding: 0 4px 0 12px;
  background-color: var(--greyscale-100);
  box-sizing: border-box;
  column-gap: 8px;
  border-radius: 51px;
}

